//@import '../../../font-awesome/less/font-awesome.less';

/*折叠面板*/
.ct-accordion-radius > div,
.ct-accordion-base > div,
.ct-accordion-classic > div,
.ct-accordion-arrow > div {
  margin: 1rem;
}

.ct-accordion-radius > div > dl > dt,
.ct-accordion-base > div > dl > dt,
.ct-accordion-classic > div > dl > dt,
.ct-accordion-arrow > div > dl > dt {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-right: .25rem;
}

.ct-accordion-radius > div > dl, .ct-accordion-radius > div > dl > dt, .ct-accordion-radius > div > dl > dd,
.ct-accordion-base > div > dl, .ct-accordion-base > div > dl > dt, .ct-accordion-base > div > dl > dd,
.ct-accordion-classic > div > dl, .ct-accordion-classic > div > dl > dt, .ct-accordion-classic > div > dl > dd,
.ct-accordion-arrow > div > dl, .ct-accordion-arrow > div > dl > dt, .ct-accordion-arrow > div > dl > dd {
  margin: 0;
  padding: 0;
}

.ct-accordion-radius > div > dl > .activity:before,
.ct-accordion-base > div > dl > .activity:before,
.ct-accordion-arrow > div > dl > .activity:after {
  transform: rotate(90deg);
}

.ct-accordion-radius > div > dl > dt:before,
.ct-accordion-base > div > dl > dt:before,
.ct-accordion-classic > div > dl > dt:before,
.ct-accordion-arrow > div > dl > dt:after {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  margin-right: 5px;
}

.ct-accordion-radius > div > dl > dt:before,
.ct-accordion-base > div > dl > dt:before,
.ct-accordion-arrow > div > dl > dt:after {
  transition: all .2s linear;
  transform: rotate(0deg);
}

.ct-accordion-radius > div > dl > dt,
.ct-accordion-base > div > dl > dt,
.ct-accordion-classic > div > dl > dt,
.ct-accordion-arrow > div > dl > dt {
  padding: .8rem 1rem;
  transition: background-color .2s ease-out;
  font-weight: 400;
  font-size: .68rem;
}

.ct-accordion-arrow > div > dl > dt {
  padding-right: 1.5rem;
}

.ct-accordion-radius > div > dl > dd,
.ct-accordion-base > div > dl > dd,
.ct-accordion-classic > div > dl > dd,
.ct-accordion-arrow > div > dl > dd {
  overflow: hidden;
  padding: 0;
  height: 0;
  transition: height 300ms /*ease*/;
  opacity: 0;
  display: none;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
}

.ct-accordion-radius > div > dl > .activityDD,
.ct-accordion-base > div > dl > .activityDD,
.ct-accordion-classic > div > dl > .activityDD,
.ct-accordion-arrow > div > dl > .activityDD {
  opacity: 1;
}

.ct-accordion-radius > div,
.ct-accordion-classic > div,
.ct-accordion-arrow > div {
  border-radius: 2px;
}

/*-----------------------------箭头---------------------------*/
.ct-accordion-arrow > div > dl > dt:after {
  content: '\f054';
  font-family: FontAwesome;
  color: #C7C7C7;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: .25rem;
  margin-top: -7.5px;
}

/*-----------------------------箭头---------------------------*/

/*-----------------------------基本---------------------------*/
.ct-accordion-radius > div > dl > dt:before,
.ct-accordion-base > div > dl > dt:before {
  content: '\f0da';
  font-family: FontAwesome;
}

/*-----------------------------基本---------------------------*/

/*-----------------------------经典---------------------------*/
.ct-accordion-classic > div > dl > dt:before {
  content: '\f067';
  font-family: FontAwesome;
}

.ct-accordion-classic > div > dl > .activityDT:before {
  content: '\f068';
  font-family: FontAwesome;
}

/*-----------------------------经典---------------------------*/
.ct-accordion-radius-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 9999;
  display: none;
  top: 0;
}