@import "../node_modules/@ctmobile/ui-demo-util/lib/index.less";
@import "../node_modules/@ctmobile/ui-listview-sd/lib/listview.less";
@import '../node_modules/@ctmobile/ui-listview-sd/lib/themes/default/listview.less';
@import '../node_modules/@ctmobile/ui-swipeout-sd/lib/swipeout.less';

#ctmobile-ui-doc-demo-device {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.demo-inner {
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.ct-list {
  visibility: hidden;

  > ul {
    > li {
      padding-left: 0;

      &:before,
      &:after {
        height: 0;
      }

      .ct-swipeout {
        padding-left: 0 !important;

        .swipeoutBtn {
          width: 150px !important;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          background-color: #007aff;
        }

        .swipeoutBtn.del {
          background-color: red;
        }

        .swipeoutBtn.edit {
          background-color: green;
        }
      }
    }
  }
}