@import "../node_modules/@ctmobile/ui-demo-util/lib/index.less";
@import '../node_modules/@ctmobile/ui-tree/lib/themes/default/tree.less';
@import '../node_modules/@ctmobile/ui-tree/lib/tree.less';

#ctmobile-ui-doc-demo-device {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.demo-inner {
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

//@import '../node_modules/@ctmobile/ui-tree/lib/themes/default/tree.less';
//@import '../node_modules/@ctmobile/ui-tree/lib/tree.less';
//
//html, body {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;
//}