.ct-stickuplayout,
.ct-stickuplayout .ct-stickuplayout-inner {
  margin: 0;
  padding: 0;
  height: 100%;
}
.ct-stickuplayout {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ct-stickuplayout .ct-stickuplayout-inner {
  position: relative;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-scrolling: touch;
}
.ct-stickuplayout .ct-stickuplayout-inner .ct-stickuplayout-item-content {
  position: relative;
}
.ct-stickuplayout .ct-stickuplayout-fixed {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 2;
}
.ct-stickuplayout-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: transparent;
  display: none;
}

