.ct-jdcategorytab {
  > .ct-jdcategorytab-menu {
    > ul {
      > li {
        > a {
          border-right: 1px solid #e0e0e0;
          background: #f3f4f6;
        }
        &:not(:last-child) {
          > a {
            border-bottom: 1px solid #e0e0e0;
          }
        }
      }

      > li.cur {
        > a {
          border-right: 1px solid #fff;
          background: #fff;
          color: #f15353;
        }
      }
    }
  }
}